server:
  port: 8081

spring:
  application:
    name: users-service
  datasource:
    url: jdbc:postgresql://localhost:5432/usersdb
    username: users_user
    password: users_pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
  mvc:
    problemdetails:
      enabled: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0
    validate-on-migrate: true

logging:
  level:
    org.flywaydb: DEBUG
